.job-card-grid {
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: white;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 420px;
  justify-self: center;
}

.info-grid {
  color: gray;
  width: 100%;
  height: 170px;
}
.buttons-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
}
.show-more-grid {
  font-size: medium;
  display: flex;
  align-items: center;
  width: auto;
  text-decoration: none;
  margin-left: 2rem;
  color: #2196f3;
}
.show-more:visited,
.show-more:link,
.show-more:active {
  color: #2196f3;
}
.fav-grid {
  display: flex;
  align-items: center;
  justify-content: left;
  width: auto;
  color: rgba(128, 128, 128, 0.63);
}
.fav-grid:hover {
  color: gold;
}
.likeButton {
  border: none;
  font-size: medium;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: 2rem;
}
.add-text-grid {
  margin-left: 10px;
}