@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .jobs {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
    height: 100%;
  }
  .filter__container {
    width: 30%;
  }
  .job-list__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
  }
  .pagination__container {
    margin-top: 20px;
  }
  .loader {
    display: flex;
    justify-content: center;
  }
}
.pagination{
  display: flex;
  justify-content: end;
  align-items: center;
}
@media screen and (min-width: 375px) and (max-width: 1000px) {
  .jobs {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .job-list__container{
    width: 100%;
  }
}
