.aside {
  display: flex;
  flex-direction: column;
  color: gray;
  width: 100%;
  padding: 1rem;
}
.back {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 5px 5px;
  color: #2196f3;
  font-size: large;
  margin-bottom: 1rem;
}
.back:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.show {
  display: flex;
  border: none;
  padding: 5px 5px;
  color: #2196f3;
  text-decoration: none;
  font-size: large;
  margin-bottom: 1rem;
}
.show:visited,
.show:link,
.show:active {
  color: #2196f3;
}
.show:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .back {
    display: flex;
    justify-content: left;
  }
  .show {
    display: flex;
    justify-content: left;
  }
}
