.aside {
  display: flex;
  flex-direction: column;
  color: gray;
  width: 100%;
}
.back {
  display: flex;
  border: none;
  background-color: transparent;
  color: #2196f3;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}
.back:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.show {
  display: flex;
  border: none;
  color: #2196f3;
  text-decoration: none;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
.show:visited,
.show:link,
.show:active {
  color: #2196f3;
}
.show:hover {
  transform: scale(1.1);
  cursor: pointer;
}
