.buscador{
    margin-left: 10vw;
    background-image: url("../../assets/BannerHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 10px;
    height: 8rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__control{
    border-radius: 5px;
    background-color: aliceblue;
    width: 80%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.form__input{
    flex: 1;
}
