.filtros {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
}

.filtrar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border: none;
  transition: transform 0.2s;
  border-radius: 15px;
  background-color: red;
}

.filtrar:hover {
  transform: scale(1.2);
}
