.list-content {
  position: absolute;
  height: auto;
  width: auto;
  background-color: #edf2f4;
  border-radius: 10px;
  padding: 16px 32px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 70vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.list-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.fav-button-text {
  font-size: small;
}
.no-job-text {
  position: relative center;
  text-align: center;
}

.close-button {
  display: flex;
  justify-content: end;
}
