.jobs {
  margin: 1rem 0;
  display: flex;
}
.filter__container {
  width: 30%;
}
.job-list__container {
  flex-grow: 1;
  height: 100%;
}
.pagination__container {
  display: flex;
  justify-content: center;
}
