.job-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 5rem;
  width: 100%;
}

.boton {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  text-decoration: none;
}

.image {
  width: 5rem;
}

.info {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
  width: 60%;
}
