.job-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  max-height: 8rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
}
.contenedor-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
}
.show-more {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: none;
  flex-direction: row;
  align-items: center;
  width: auto;
  text-decoration: none;
  color: #2196f3;
}
.show-more:visited,
.show-more:link,
.show-more:active {
  color: #2196f3;
}
.info {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
  width: 60vw;
}
.fav {
  display: flex;
  justify-content: center;
  color: rgba(128, 128, 128, 0.63);
}
.fav:hover {
  color: gold;
}
.likeButton {
  border: none;
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  text-decoration: none;
  color: #2196f3;
}
.add-text {
  margin-left: 10px;
}
.buttons {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  text-decoration: none;
}

.job-card:hover .show-more {
  display: flex;
}