.job-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media screen and (min-width: 805px) {
  .job-detail {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 4fr;
    margin: 1rem 0;
    align-items: flex-start;
  }
}
